<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css">
    <script src="{{ base_url() }}/js/jquery-3.3.1.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
      <div class="container">
        {% block body %}{% endblock %}
      </div>
  </body>
</html>