{% extends "base.html" %}

{% block title %}Sistema{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Confirmar orden</h1>
    <p>Producto:<b>{{ producto.nombre }}</b></p>
    <p>Sub total: Q <b>{{ sub_total1 }}</b></p>
    <p>Envio: Q {{ envio }}</p>
    <p>Compra + envío: Q {{ sub_total2 }}</p>
    <p>Impuestos: Q {{ impuesto }}</p>
    <h4>Total: Q {{ total }}</h4>
    <a href="javascript:comprar({{ producto_id }},{{ cantidad }});">Confirmar</a>
    <script>
        function comprar(producto_id, cantidad){
            $.ajax({
                url: "{{ base_url() }}/api/comprar",
                type: "PUT",
                data: { "id": producto_id, "cantidad": cantidad },
                success: function(response){
                    console.log(response);
                },
                error: function(response){
                    console.error(response);
                }
            });
        }
    </script>
{% endblock %}
