{% extends "base.html" %}

{% block title %}Sistema{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Bienveniidos a Panadería San Ángel</h1>
    <p>Ve nuestros <a href="{{ base_url() }}/productos">Productos</a></p>
{% endblock %}