{% extends "base.html" %}

{% block title %}Sistema{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td><img src="{{ producto.imagen }}" class="img img-thumbnail" width="150"></td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.precio }}</td>
                            <td><a href="{{ base_url() }}/productos/{{ producto.id }}">Ordenar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}