{% extends "base.html" %}

{% block title %}Sistema{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>{{ producto.nombre }}</h1>
    <hr/>
    <img src="{{ producto.imagen }}" class="img img-thumbnail" width="150">
    <h4>{{ producto.precio }}</h4>
    <p>{{ producto.descripcion }}</p>
    <hr/>
    <div>
        <h5>Comprar</h5>
        <form method="post" action="{{ base_url() }}/productos/{{ producto_id }}">
            <div class="form-group">
                <label>Cantidad:</label>
                <input type="number" min="1" step="1" class="form-control" name="cantidad">
            </div>
            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}